<% if @promotion.approved? %>
  <%= link_to 'Emitir cupons', promotion_coupons_path(@promotion), method: :post if @promotion.approved? %>
<% elsif @promotion.issued? %>
  <% @coupons.each do |coupon| %>
    <%= link_to coupon.code, promotion_coupon_path(coupon.id)  %>
  <% end %>
<% else %>
  <p> Promoção aguardando aprovação  </p>
<% end %>