<aside class="ls-sidebar">

  <div class="ls-sidebar-inner">
    <a href="/locawebstyle/documentacao/exemplos//pre-painel" class="ls-go-prev">
      <span class="ls-text">Recolher</span>
    </a>

    <nav class="ls-menu">
      <ul>
        <li>
          <%= link_to 'Promoções', promotions_path ,class: "ls-ico-dashboard", title:"Dashboard" %>
        </li>
      </ul>
    </nav>
  </div>
</aside>